.home-page {
  min-height: 90vh;
  width: 100%;
  max-height: 100vh;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  overflow: auto;
  background: #181818;
  background-size: cover;
  gap: 11px;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
@media (min-width: 768px) {
  .home-page {
    min-height: 100vh;
    width: 90vw;
    flex-direction: row;
    position: absolute;
    right: 0;
  }
}

/* .home-items {
  align-self: center;
} */

.playlist-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* Styling the container for home page components */
.home-editors {
  width: 100%;
}

.home-playlist-title {
  font-family: 'Assistant';
  color: #fff;
  font-size: 17px;
  font-style: oblique;
  letter-spacing: 0.9px;
  margin-top: 5px;
  margin-left: 11px;
}
.playlist {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;

  padding: 0;
  height: 209px;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
@media (min-width: 768px) {
  .playlist {
    height: 275px;
  }
  .home-playlist-title {
    font-size: 23px;
  }
}
