.failure-view {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 150px;
  max-height: 90vh;
}
@media (min-width: 768px) {
  .failure-view {
    width: 90vw;
    flex-grow: 1;
    /* height: max(95px, 90vh); */
  }
}

.failure-content {
  width: 97%;
  height: 100%;
  background: #040306;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.failure-icon {
  width: 47px;
}
@media (min-width: 768px) {
  .failure-icon {
    width: 73px;
  }
}

.failure-text {
  color: #fff;
  font-family: 'Assistant';
  font-size: 13px;
}

.failure-btn {
  border: solid 1.3px #17f596;
  border-radius: 4px;
  background: #fff;
  color: #1a2e3b;

  font-family: 'Inter';
  font-size: 12px;
  font-weight: 600;

  padding: 4px 11px;
  cursor: pointer;
  outline: none;
}

.failure-btn:hover {
  border: solid 2.3px #fff;
  border-radius: 6px;
  background: transparent;
  color: #ffffff;
}
