.player-container {
  width: 100%;
  height: 10vh;

  background-color: transparent;
  border: none;
  border-top: solid 2px #455367;

  position: absolute;
  bottom: 5px;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 33px;
}
.left-section {
  display: flex;
  align-items: center;
}
.song-image {
  width: 56px;
  height: 56px;
}
.song-details {
  margin-top: auto;
  margin-left: 5px;
}
.song-name {
  font-family: 'Assistant';
  margin: 0;
}
.song-artist {
  font-family: 'Inter';
  font-size: 10px;
  color: #9b9b9b;
  font-weight: 500;
  margin: 0;
  margin-top: 3px;
}

.player-section {
  width: 60%;
  margin: auto;
}
.music-player {
  height: 45px;
  width: 100%;
}

/* Styling Audio Controls */
.music-controls {
  display: none;
  align-items: center;
}
.play-pause-btn {
  border: solid 1.2px #fff;
  border-radius: 50%;

  height: 33px;
  width: 33px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  outline: none;

  color: #17da37;
}
.play-pause-btn:hover,
.play-pause-btn:active {
  border-color: #17da37;
}

.progressbar {
  border: none;
  border-radius: 2px;
  width: 395px;
  height: 4px;

  appearance: none;
  background: rgb(151, 233, 151);
}

.progressbar::before {
  width: 10%;
  height: 4px;
  content: '';

  background-color: #17da37;
}
