.albums-page {
  width: 100%;
  height: 90vh;

  background: #181818;
  color: #fff;

  position: fixed;
  top: 0;
  right: 0;
  padding: 37px 11px;

  /* overflow: hidden; */
}
@media (min-width: 768px) {
  .albums-page {
    width: 90vw;
  }
}

/* Styling album header */
.album-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 3px;
}
@media (min-width: 768px) {
  .album-header {
    width: 80%;
    flex-direction: row;
    align-items: flex-start;
    gap: 13px;
  }
}

.album-image {
  width: 145px;
  height: 145px;

  border-radius: 9px;
}
@media (min-width: 768px) {
  .album-image {
    width: 175px;
    height: 175px;

    border-radius: 11px;
  }
}
.album-details {
  display: block;
}
.album-name {
  font-family: 'Assistant';
  font-size: 17.3px;
  /* font-weight: 700; */

  letter-spacing: 0.5px;
  line-height: 1.5;
  color: aliceblue;
  margin: 5px 0;
  text-align: center;
}
.album-type {
  display: none;
}
.album-artist {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 11px;

  letter-spacing: 0.4px;
  margin: 0;
  color: #94a3ba;
  text-align: center;
}
span {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 11px;

  letter-spacing: 0.4px;
  margin: 0;
  color: #94a3ba;
}

@media (min-width: 768px) {
  .album-details {
    align-self: flex-end;
    margin-bottom: 9px;
  }
  .album-name {
    font-family: 'Assistant';
    font-size: 26.3px;
    font-weight: 700;

    letter-spacing: 0.5px;
    line-height: 1.5;
    color: aliceblue;
    margin: 5px 0;
    text-align: left;
  }
  .album-type,
  .album-artist {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 11px;

    color: #e9eaee;
    letter-spacing: 0.4px;
    margin: 0;
    text-align: left;
  }
  .album-type {
    display: block;
  }
  span {
    display: none;
  }
}

/* Styling the track headings */
.album-tracks {
  display: flex;
  flex-direction: column;
}

.track-headings {
  padding: 0 2px;
  width: 100%;

  display: flex;
  justify-content: space-between;
}
.heading-item {
  list-style-type: none;
  width: 30%;
}
.hash {
  width: 5%;
  padding-left: 5px;
  color: #94a3ba;
}
.track-heading {
  font-family: 'Inter';
  font-size: 11px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0.4px;
  margin: 0;
}
.line {
  width: 100%;
  height: 1px;

  border: none;
  border-top: solid 2.3px #1a4577;
  margin: 1px;
}
@media (max-width: 767px) {
  .track-headings {
    display: none;
  }
  .line {
    display: none;
  }
}

/* Styling Tracks */
.album-tracks-list {
  padding: 0 2px;
  padding-bottom: 11px;
  width: 100%;
  height: 58vh;

  display: flex;
  flex-direction: column;
  overflow: auto;

  margin-top: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;

  /* border: solid 1px #fff; */
}
